{{template "base" .}}
{{define "base"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col">
            <h1>
                this is the about page
            </h1>
            </div>
        </div>
    </div>
</div>
{{end}}

